body  {
    background-image: url("green.jpg");
}
h3 {
    text-align: center;
    font-family: Verdana;
    color: white;
}
label {
    font-family: Verdana;
    font-size: 15px;
    color: darkgreen;
}
input {
    font-family: Verdana;
    border-radius: 10px;
    border: 1px solid blanchedalmond;
    padding: 5px;
    font-size: 15px;
}
::placeholder {
    color: darkslategray;
}
:optional {
    color: darkslategray;
}
#dropdown {
    font-family: Verdana;
    border-radius: 10px;
    border: 1px solid blanchedalmond;
    padding: 5px;
    font-size: 15px;
}
#profiledisplay {
    display: block;
    width: 10%;
    border-radius: 50%;
}
#profileimage {
    display: none;
    width: 10%;
    border-radius: 50%;
}
.grid-container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto auto;
    background-color: #eeeeee;
  }
.grid-containerA {
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto auto auto;
    background-color: #eeeeee;
}
  .grid-item {
    font-family: Verdana;
    font-size: 15px;
    color: darkgreen;
    padding: 5px;
  }


.con-header {
    text-align: center;
    color: antiquewhite;
    margin-top: 30px;
    font-family: Verdana;
}
.con-body {
    background-color: rgb(25, 146, 35);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-right: 60px;
    margin-left: 60px;
    font-family: Verdana;
}
.con-lb {
    text-align: center;
    background-color: white;
    padding-top: 5px;
}
fieldset {
    background-color: #eeeeee;
    padding: 5px 20px 5px;
    margin-left: 30px;
    margin-right: 30px;
}
legend {
    background-color: #70d144;
    color: white;
    padding: 10px 10px;
}


.btnA {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #70d144;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px rgb(124, 124, 124);
} 
.btnA:hover {
    background-color: #33b837
}
.btnA:active {
    background-color: #33b837;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.btnB {
    padding: 10px;
    font-family: Verdana;
    font-size: 15px;
    color: white;
    background: #70d144;
    text-align:center;
    border: none;
    border-radius: 50px;
    margin-left: 45%;
    margin-top: 15px;
}
.btnB:hover {
    background: rgb(1, 67, 5);
}
  
.input-groupA label {
    font-family: Verdana;
    text-align:left;
    margin: 5px;
    margin-bottom: 3px;
    height: 20px;
} 
.input-groupA input{
    color: rgb(104, 192, 138);
    text-align: justify;
    height: 30px;
    width: 50%;
    font-family: Verdana;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgb(28, 194, 50);
    margin-bottom: 3px;
}